<nav class="navbar">
  <div class="logo">
    <a href="/">YOTA Belgium</a>
  </div>
  <div class="links">
    <div class="toggle">
      <svg
        width="20px"
        height="20px"
        viewBox="-0.14 0 20.03 20.03"
        fill="#000000"
      >
        <g id="moon-alt" transform="translate(-2.25 -2)">
          <path
            id="secondary"
            fill="#ffe01b"
            d="M21,12A9,9,0,0,1,3.25,14.13,6.9,6.9,0,0,0,8,16,7,7,0,0,0,11.61,3H12a9,9,0,0,1,9,9Z"
          ></path>
        </g>
      </svg>
      <div class="ball" ></div>
      <svg width="20px" height="20px" viewBox="0 0 20 20" fill="#000000">
        <g id="sun" transform="translate(-2 -2)">
          <circle
            id="secondary"
            fill="#ffe01b"
            cx="4"
            cy="4"
            r="4"
            transform="translate(8 8)"
          ></circle>
          <path
            id="primary"
            d="M12,3V4M5.64,5.64l.7.7M3,12H4m1.64,6.36.7-.7M12,21V20m6.36-1.64-.7-.7M21,12H20M18.36,5.64l-.7.7M12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Z"
            fill="none"
            stroke="#ffe01b"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path>
        </g>
      </svg>
    </div>
    <a href="/">Homepage</a>
    <a href="/categories">Categories</a>
  </div>
</nav>
